body {
    background: #F7B71E;
    font-family: 'Dosis', sans-serif;
    }
    #root{
      padding: 0;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    
    }
    .poke-box {
      flex-basis: 10%;
      padding: 60px;
      margin: 10px;
      background: #FDD32A;
      -webkit-box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08);
      -moz-box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08);
      box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08);
      display: flex;
      text-align:center;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      border-color: transparent;
      justify-content: center;
      flex-direction: column;
      align-self: center;
      font-family: 'Archivo Narrow', sans-serif;
      color: #FBFBFB;
      
      
      }
    
    h1{
        float: left;
    }
    
    header{
        position: absolute;
        width: 100%;
        height: 70px;
        background: #333;
        color:#fff;
  
        top: 0;
        left: 0;
        z-index: 100;
    }
    
    .contenedor{
        width: 98%;
        margin: auto;
    }
    #barraMenu{
        display:none;
    }
    
    header label{
        cursor: pointer;
        float: right;
        font-size: 28px;
        margin: 6px 0;
        
    }
    
    .menu{
        transition: all 0.5s;
        transform: translateX(-100%);
        position: absolute;
        width: 50%;
        height: 7vh;
        background: rgba(51,51,51,0.9);
        top: 70px;
        left: 0;
      
    }
    
    #barraMenu:checked ~ .menu{
        transform: translateX(0%);
    }
    
    .menu a{
        display: block;
        color: #fff;
        height: 10px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    
    .menu a:hover{
        background: rgba(255,255,255,0.3);
    }
    
    header .contenedor{
        display: table;
    }
    
    .poke-img {
      width: 100%;
      height: 100%;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      align-self: center
    
    }
    
    .poke-box #text-footer {
      width: 100%;
      height: 100%;
      background-color:rgba(253, 211, 42, 0.9);
      /*background:#FDD32A;*/
      top: 100%;
      left: 0;
      transition: top .5s ease;
      text-align:center;
      display:flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      justify-content: space-around;
    
    }
    
    .poke-box:hover #text-footer {
      top: 0%;
    }
    .wrap-text {
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      display: flex;
      position: absolute;
      z-index: 1;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  
    }
    #poke-type {
      color: #FF8300;
      font-size: 110%;
      font-family: 'Dosis', sans-serif;
    }
    
    #poke-num, #poke-name {
      color: white;
      font-size: 110%;
      font-family: 'Dosis', sans-serif;
    }
    
     @media (min-width:1024px) {
          .menu{
              position: static;
              width: auto;
              height: auto;
              transform: translateX(0%);
              float: right;
              display: flex;
          }
          .menu a{
              border: none;
          }
          header label {
              display: none;
          }
          .contenedor{
              width: 1000px;
          }
          #root{
            padding: 8%;
        }
        
      }
    
      @media (min-width: 300px) {
        .poke-Box {
            width: 28%;
    }
    .poke-img {
        width: 130px;
        height: 130px;
    }
    #root{
        padding: 2%;
    
    }
      
    }
    
    
      @media (min-width: 600px) {
        .poke-Box {
            width: 18%;
        }
        #root{
            padding: 1%;
    
      }
    }