body {
  background: #F7B71E;
  font-family: "Dosis", sans-serif;
  text-align: center;
}

#type-select {
  background: #FDD32A;
  color: #4286f4;
  font-size: 100%;
  margin: 3%;
  border-color: #4286f4;
  font-family: "Dosis", sans-serif;
  align-items: center;
  display: inline-flex;

}

#sort-by {
  background: #FDD32A;
  color: #4286f4;
  font-size: 100%;
  margin: 3%;
  border-color: #4286f4;
  font-family: "Dosis", sans-serif;
  align-items: center;
  display: inline-flex;

}

#root {
  height: auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  flex: 1 0 12em;

}

.menu .a {
  color: #4286f4;
}

#inicio {
  background-color: #f64f37;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

#inicio img {
  text-align: center;
}

#main-banner {
  width: 100%
}

#main-banner img {
  position: relative;
  right: 0%;
  top: 15%;
  width: 60%;
  text-align: center;
  align-items: center;
}

#text {
  position: fixed;
  top: 40%;
  left: 18%;
  display: inline-block;
  color: #FDD32A;
  font-size: 130%;
  text-align: center;
  justify-content: center;

}

#botonInicio {
  position: fixed;
  top: 70%;
  right: 45%;
  text-align: center;
  width: 15%;
  height: 5%;
  text-align: center;
  justify-content: center;
  background-color: #FDD32A;
  border: transparent;
  border-radius: 10px;
  color: orangered;
  font-size: 20px;
  font-family: "Dosis", sans-serif;

}

.poke-box {
  width: 35%;
  height: 240px;
  flex-basis: 10%;
  padding: 60px;
  margin: 10px;
  background: #FDD32A;
  /* -webkit-box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08);
  -moz-box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08);
  box-shadow: -1px 0px 58px 12px rgba(112,112,112,0.08); */
  -webkit-box-shadow: -1px 0px 58px 12px rgba(218, 100, 45, 0.08);
  -moz-box-shadow: -1px 0px 58px 12px rgba(218, 100, 45, 0.08);
  box-shadow: -1px 0px 58px 12px rgba(218, 100, 45, 0.08);
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border-color: transparent;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: "Dosis", sans-serif;
  font-size: 120%;
  color: ivory;
  justify-content: space-around;
  min-width: 10%;
  width: calc((35em - 100%) * 1000);
  max-width: 35%;


}

.poke-box #poke-name {
  color: #4286f4;
}

.wrap-text #poke-we,
#poke-candy,
#egg,
#weight,
#height {
  color: #FF8300;

}

h1 {
  float: left;
}

#banner img {
  width: 40%;
  height: 40%;
  padding-top: 5%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  color: #fff;

  top: 0;
  left: 0;
  z-index: 100;
}

.container a {
  width: 100%;
  margin: auto;
  height: 50%;
  align-content: center;

}

#barraMenu {
  display: none;
}

.header label {
  cursor: pointer;
  float: right;
  font-size: 28px;
  margin: 6px 0;

}

.menu {
  transition: all 0.5s;
  transform: translateX(-100%);
  position: absolute;
  width: 50%;
  height: 7vh;
  /* background: rgba(51,51,51,0.9); */
  top: 70px;
  left: 0;
  align-self: center;


}

#barraMenu:checked~.menu {
  transform: translateX(0%);
}

.menu a {
  display: block;
  color: #4286f4;
  height: 10px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  align-items: center;
  font-size: 110%;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.3);
}

header .container {
  display: table;
}

.poke-img {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center
}

.poke-box #text-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 211, 42, 0.95);
  /*background:#FDD32A;*/
  top: 480px;
  left: 0;
  transition: top .5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  line-height: 200%;

}

.poke-box:hover #text-footer {
  top: 0%;
}

.wrap-text {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  display: flex;
  position: absolute;
  z-index: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 5%;

}

#poke-type {
  color: orangered;
  font-size: 110%;
  font-family: "Dosis", sans-serif;
  align-self: center;
}

#poke-num,
#poke-name {
  color: white;
  font-size: 110%;
  font-family: "Dosis", sans-serif;
  align-self: center;
}

@media (min-width:1024px) {
  .menu {
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      display: flex;
  }

  .menu a {
      border: none;
  }

  header label {
      display: none;
  }

  .container {
      width: 1000px;
  }

  #root {
      padding: 8%;
  }

}

@media (min-width: 300px) {
  .poke-Box {
      width: 35%;
      height: 40px;
  }

  .poke-img {
      width: auto;
      height: auto;
  }


}

@media (min-width: 600px) {
  .poke-Box {
      width: 35%;
  }

  #root {
      padding: 1%;

  }
}