@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

body{
    background: linear-gradient(180deg, #FFE600 0%, #FF7A00 100%), #FFE600;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    
}

header{
    width: 100%;
    height: 55px;
    background: #333;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}


#barraMenu{
    display:none;
}

header label{
    cursor: pointer;
    float: right;
    font-size: 28px;
    margin: 6px 0;
     
}

.menu{
    transition: all 0.5s;
    transform: translateX(-100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    top: 60px;
    left: 0;
  
}

#barraMenu:checked ~ .menu{
    transform: translateX(0%);
}

.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover{
    background: rgba(255,255,255,0.3);
}

header .contenedor{
    display: table;
}
#root{
    padding: 15%;
}

.poke-Box {
    
    border: 6px solid rgb(251, 114, 1);
    border-radius: 30%;
    max-width: 50%;
    padding: 10px;
    margin: 5px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);  
    display: inline-block;
    text-align:center;
    overflow: hidden;
    position: relative;
    
  }

  .poke-img {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width .5s ease, height .5s ease;
  
  }
  
  .poke-Box #text-footer {
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    top: 100%;
    left: 0;
    transition: top .5s ease
  }
  
  .poke-Box:hover #text-footer {
    top: 0%;
  }
  .wrap-text {
    padding: 15px;
    display: block;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    text-align: left;
  }
  
  .wrap-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    color: #666
  }
  
  @media (min-width:1024px) {
      .menu{
          position: static;
          width: auto;
          height: auto;
          transform: translateX(0%);
          float: right;
          display: flex;
      }
      .menu a{
          border: none;
      }
      header label {
          display: none;
      }
      .contenedor{
          width: 1000px;
      }
  }

  @media (min-width: 300px) {
    .poke-Box {
        width: 28%;
    }
  }
  @media (min-width: 680px) {
    .poke-Box {
        width: 18%;
    }
  }
  